@import './gui';
@import './components';
@import './containers';

* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Pacifico';
}

$class-name: 'appLayout';

.#{$class-name}__main {
  margin-top: $nav-height;
  min-height: calc(100vh - #{$nav-height});
  background-color: $bg-color;
  padding: 0 spacing(5);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}